.header-menu > header {
    transform: translateX(-50%);
    margin-top: 50px;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    width: max-content;
    transition: transform 1s ease, margin-left 1s ease, margin-top 1s ease;
}

img.me {
    border-radius: 50%;
    max-width: 250px;
    transition: max-width 1s ease;
}

.picture-name{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.header-menu > header:not(.home) img.me{
    max-width: 100px;
}

.header-menu > header:not(.home) {
    transform: none;
    margin-left: 0;
    margin-top: 0;
}

.menu {
    display: inline-block;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.menu > ul > li {
    color: inherit;
    padding: 5px 10px;
    cursor: pointer;
}
