.exp-2 {
    padding-left: 2ch;
}

.exp-4 {
    padding-left: 4ch;
    text-indent: -2ch;
}

.exp-title {
    font-weight: bold;
    color: var(--blue);
}
.exp-place {
    font-weight: bold;
}

.exp-period {
    font-style: italic;
}

.exp-note {
    font-weight: bold;
    font-style: italic;
}