.app-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.app-container.light * {
    --background-color1: white; 
    --background-color2: #f3f3f3;
    --background-color3: #ececec;
    --background-color4: #dddddd;
    --transparent-white-color: #00000044;
    --text-color: #5f5f5f;
    --highlight-color: black;
    --red: #a61d1d;
    --yellow: #795e26;
    --cyan: #0070c1;
    --magenta: #af00db;
    --green: #137b13;
    --blue: #0000ff;

}

.app {
    display: flex;
    height: 100%;
}
